<app-empnavbar></app-empnavbar>

<table class="table">
    <thead>
      <tr>
     
        <th scope="col">TASK</th>
        <th scope="col">STATUS</th>
        <th scope="col">UPDATE STATUS</th>




      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
        
        <td>{{i.task}}</td>
        <td>{{i.status}}</td>
        <td>
          <button class="btn btn-primary" (click)="update(i.empcode)">UPDATE STATUS</button>
      </td>
        

      </tr>
    
    </tbody>
  </table>